.container {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.error-text {
  color: red;
  font-size: 12px;
  margin-top: 4px;
  text-align: center;
}

body {
  height: 98vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}

.register:hover, .register:active, .register:focus {
  color: #575ec2;
}
